/Weighted Randomizer/bin/
/Weighted Randomizer/obj/
/Weighted Randomizer Tests/bin/
/Weighted Randomizer Tests/obj/
/Weighted Randomizer Net Standard/bin/
/Weighted Randomizer Net Standard/obj/
/Weighted Randomizer Net Standard/out/
*.user
*.suo
/packages/
project.lock.json
/.vs/
